<div class="container">
  <h1>Task</h1>
  <table class="table container mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{showTask.task}}</td>
        <td>{{showTask.description}}</td>

      </tr>

    </tbody>
  </table>

  <p class="mt-2 time">this task has been added on {{showTask.time}}</p>
</div>

<div class="container show-btn">
  <div class="back-btn">
    <a href="/todo">
      <button class="mt-2 btn btn-dark" type="submit">Back home</button></a>
  </div>

  <div class="delete-edit-btn">
    <a href="/todo/{{showTask.id}}/edit">
      <button
        class="mt-2 me-4 btn btn-warning edit"
        type="submit"
      >Edit</button></a>

    <form method="POST" action="/todo/{{showTask.id}}?_method=DELETE">

      <button class="mt-2 btn btn-danger" type="submit">Delete</button>

    </form>
  </div>

</div>